@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.material-symbols-outlined {
    color: #fff;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.5vw;
}

::-webkit-scrollbar-track {
    background: rgb(20, 20, 20, 1);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body{
    background-color: rgb(10, 10, 10);
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.base{
    min-width: 90vw;
    margin-right: 5vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    background-color: rgb(15, 15, 15, 1);
    padding: 10px;
}

.base-child{
    max-width: 88vw;
    display: flex;
    flex-direction: row;
    align-self: start;
    padding: 1vw;
    overflow-x: auto;
    justify-content: space-between;

}

.seri{
    margin: 1%;
}

.seri-img{
    margin: 1%;
    padding: 0;
    cursor: pointer;
    width: 15vw;
    height: 20vw;
}


.base-title{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 3vw;
    text-align: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5vw 7.5vw;
    background: rgb(20, 20, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 5vw;
}

.logo{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vw;
    font-weight: 700;
    color: #fff;
    text-decoration: none;

}

.navbar a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    color: #fff;
    text-decoration: none;
    margin-left: 2vw;
    font-weight: 500;
    position: relative;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    transition: .3s;
    background: #fff;
}

.navbar a:hover::before{
    width: 100%;
}

.seri-ch{
    color: #fff;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-align: center;
}