@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.material-symbols-outlined {
    color: #fff;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.5vw;
}

::-webkit-scrollbar-track {
    background: rgb(20, 20, 20, 1);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body{
    background-color: rgb(10, 10, 10);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.base{
    min-width: 90vw;
    margin-right: 5vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    background-color: rgb(15, 15, 15, 1);
    padding: 1vw;
    padding-top: 2vw;
}

.base-child{
    width: 88vw;
    display: flex;
    flex-direction: row;
    align-self: start;
    padding: 1vw;
    overflow-x: auto;
    justify-content: start;

}

.seri{
    margin: 1%;
    cursor: pointer;
}

.seri-img{
    margin: 1%;
    padding: 0;

    width: 15vw;
    height: 20vw;
}


.base-title{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 3vw;
    text-align: center;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 8vw;
    padding: 1.5vw 1vw;
    background: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 100vh;
}

.logo{
    font-family: 'Poppins', sans-serif;
    font-size: 1.25vw;
    font-weight: 700;
    color: #fff;
    text-decoration: none;

    margin-left: 1.5vw;
}

.navbar{
    display: flex;
    flex-direction: column;
    padding: 1vw;
    justify-content: space-between;

    align-items: center;
}

.navbar a{
    margin-top: 1vw;

    font-family: 'Poppins', sans-serif;
    font-size: 1.25vw;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 0%;
    left: 100%;
    width: 2px;
    height: 0;
    transition: .7s;
    background: #fff;

    transform-style: ease-in;
}

.navbar a:hover::before{
    height: 100%;
}

#profile-button{
    width: 5vw;
    height: 5vw;

    border-radius: 5000px;
}

.seri-ch{
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    text-align: center;
    max-width: 15vw;
}

#yeni-bölümler{
    margin-top: 6vw;
}

#searchinp{
    min-width: 20vw;
    min-height: 2vw;

    display: none;
    background-color: rgb(25, 25, 25, 1);
    border: none;

    color: #fff;
    font-family: sans-serif;
    font-size: 1.25vw;
}

#searchinpbutton{
    color: #fff;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-align: center;
    max-width: 15vw;

    background-color: rgb(25, 25, 25, 1);
    cursor: pointer;
    min-height: 2vw;
    min-width: 5vw;

    border-color: rgb(25, 25, 25, 1);
    border-width: .5vw;
    border-radius: .5vw;

    padding: .5vw;

    margin-left: .5vw;

    font-size: 1.5vw;
}

#searchinpparent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#fathernav{
    display: flex;
    flex-direction: row;
}

#searchfr{
    color: #fff;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-align: center;
    max-width: 15vw;

    background-color: rgb(25, 25, 25, 1);
    cursor: pointer;
    min-height: 2vw;
    min-width: 5vw;

    border-color: rgb(25, 25, 25, 1);
    border-width: .5vw;
    border-radius: .5vw;

    padding: .5vw;

    margin-right: .5vw;

    font-size: 1.5vw;

    display: none;
}

#new-version-container{
    background-color: rgb(20, 20, 20);
    height: 15vw;
    position: fixed;
    display: none;
    margin: 15vw 35vw;

    width: 30vw;
    height: 20vw;
    padding: 1.5vw 1.5vw;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    z-index: 100;
    color: #fff;
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

#download-new-version{
    background-color: seagreen;
    padding: 1vw;
    cursor: pointer;
    border-radius: .3vw;
}

#next-time-lil-bro{
    cursor: pointer;
    font-size: 1w;
    background-color: rgb(200, 40, 40);
    line-height: 3vw;
    width: 3vw;
    height: 3vw;
    color: #fff;
    text-align: center;

    border-radius: .3vw;
    margin-left: 1vw;

}