@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.material-symbols-outlined {
    color: #fff;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.5vw;
}

::-webkit-scrollbar-track {
    background: rgb(20, 20, 20, 1);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body{
    background-color: rgb(10, 10, 10);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.base{
    min-width: 100vw;
    margin-right: 5vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    background-color: rgb(15, 15, 15, 1);
    padding: 1vw;
    padding-top: 2vw;
}

.base-child{
    width: 88vw;
    display: flex;
    flex-direction: row;
    align-self: start;
    padding: 1vw;
    overflow-x: auto;
    justify-content: start;

}

#player{
    border: none;
    align-self: center;
}

.fansub{
    background-color: rgb(255, 50, 50);
    border-radius: .25vw;
    padding: .5vw;
    align-self: center;

    cursor: pointer;

    margin: 0 .5vw;
    color: #fff;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.fansub p{
}

.seri-img{
    margin: 1%;
    padding: 0;

    width: 15vw;
    height: 20vw;
}

#player-and-episode-selector{
    justify-content: space-between;
    padding-right: 3vw;
}

#player-seri{

}

#download-button{
    background-color: seagreen;
    width: 10vw;
    height: 2vw;
    color: #fff;
    font-size: 1.25vw;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border-radius: .25vw;
    margin: 1vw 1vw;
}

#fansub-website{
    background-color: seagreen;
    width: 10vw;
    height: 2vw;
    color: #fff;
    font-size: 1.25vw;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border-radius: .25vw;
    margin: 1vw 1vw;
}

#select-episode{
    color: #fff;
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(10, 10, 10);
    margin: .25vw;
    width: 15vw;
    height: 3vw;
    border-radius: 1vw;
    cursor: pointer;
    text-align: center;
}


.base-title{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 3vw;
    text-align: center;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 8vw;
    padding: 1.5vw 1vw;
    background: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 100vh;
}

.logo{
    width: 4vw;
    height: 4vw;
    cursor: pointer;
    margin-left: 2.25vw;
}

.navbar{
    display: flex;
    flex-direction: column;
    padding: 1vw;
    justify-content: space-between;

    align-items: center;
}

.navbar a{
    margin-top: 1vw;

    font-family: 'Poppins', sans-serif;
    font-size: 1.25vw;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 0%;
    left: 100%;
    width: 2px;
    height: 0;
    transition: .7s;
    background: #fff;

    transform-style: ease-in;
}

.navbar a:hover::before{
    height: 100%;
}

#profile-button{
    width: 5vw;
    height: 5vw;

    border-radius: 5000px;
}

.seri-ch{
    color: #fff;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-align: center;
}

#yeni-bölümler{
    margin-top: 6vw;
}

#searchinp{
    min-width: 20vw;
    min-height: 2vw;

    display: none;
    background-color: rgb(25, 25, 25, 1);
    border: none;

    color: #fff;
    font-family: sans-serif;
    font-size: 1.25vw;
}

#searchinpbutton{
    color: #fff;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-align: center;
    max-width: 15vw;

    background-color: rgb(25, 25, 25, 1);
    cursor: pointer;
    min-height: 2vw;
    min-width: 5vw;

    border-color: rgb(25, 25, 25, 1);
    border-width: .5vw;
    border-radius: .5vw;

    padding: .5vw;

    margin-left: .5vw;

    font-size: 1.5vw;
}

#searchinpparent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#fathernav{
    display: flex;
    flex-direction: row;
}

#searchfr{
    color: #fff;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-align: center;
    max-width: 15vw;

    background-color: rgb(25, 25, 25, 1);
    cursor: pointer;
    min-height: 2vw;
    min-width: 5vw;

    border-color: rgb(25, 25, 25, 1);
    border-width: .5vw;
    border-radius: .5vw;

    padding: .5vw;

    margin-right: .5vw;

    font-size: 1.5vw;

    display: none;
}

#commenter-pfp{
    border-radius: 100000vw;
    width: 5vw;
    height: 5vw;
}

#commenter-div{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

#commenter-username{
    color: #fff;
    font-family: sans-serif;
    font-size: 1.5vw;
}

#comment-date{
    color: rgb(100, 100, 100);
    font-family: sans-serif;
    font-size: 1vw;
    text-align: start;
    margin-top: .25vw;
}

#commenter-and-date{
    margin-left: 1vw;

}

#comment-text{
    color: #fff;
    font-family: sans-serif;
    font-size: 1.5vw;
    margin-top: 1vw;
    word-wrap: break-word;
}

#comment-div{
    padding: 1vw;
    background-color: rgb(20, 20, 20);
    width: 80vw;
    margin-top: 1vw;
}

#new-comment-div{
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5vw;
}


#new-comment-submit{
    width: 7.5vw;
    height: 3vw;
    background-color: rgb(10, 10, 10);
    border-top-right-radius: .5vw;
    border-bottom-right-radius: .5vw;
    cursor: pointer;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.75vw;
    font-weight: 700;
    text-align: center;
    line-height: 3vw;
    margin-top: 1vw;
    padding-left: .5vw;
    display: none;
}

#new-comment-input{
    width: 57.5vw;
    height: 5vw;
    outline: none;
    

    margin-left: 2.5vw;
    border: none;

    border-top-left-radius: .5vw;
    border-bottom-left-radius: .5vw;
    border-top-right-radius: .5vw;
    border-bottom-right-radius: .5vw;
}

#anime-picture{
    width: 12vw;
    height: 16vw;
    border-radius: .25vw;
    float: left;
}

#açıklama{
    color: #fff;
    font-family: sans-serif;
    font-size: 1.5vw;
    word-wrap: break-word;
    margin-left: 13vw;
}

#pic-and-text{
    width: 65vw;
}

.seri{
    margin: 1%;
    display: flex;
    flex-direction: column;
}

#üst-kısım{
    display: flex;
    flex-direction: row;
}

#fansub-selector{
    display: flex;
    flex-direction: row;  
}

#piç-container{
    width: 65vw;
}

#select-episode-parent{
    height: 35vw;
    overflow-y: scroll;
    margin-right: 0;
}